{{> head }}


     {{> navbar }}
    
    <div class="row">
        <div class="col-8">
            <h3>wolverine</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis expedita commodi cupiditate ipsam tempore! Delectus officia officiis ducimus quod totam alias saepe voluptates consectetur iure. Quos sint libero maxime dignissimos?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/wolverine.png" class="img-thumbnail" alt="">
        </div>
    </div>

{{> footer }}